<nz-page-header [nzGhost]="false" nzBackIcon nzTitle="Payment Gateways" nzSubtitle="Payment options of clients">
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="new"><i nz-icon nzType="plus"></i>{{ 'profile.add' | translate
      }}</button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false"
      *ngIf="(query | async)?.data?.paymentGateways as paymentGateways" [nzData]="paymentGateways.nodes"
      [nzTotal]="paymentGateways.totalCount" (nzQueryParams)="tableService.onTableQueryParamsChange($event)" nzBordered>
      <thead>
        <tr>
          <th>
            {{ 'profile.title' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data" class="group cursor-pointer" [routerLink]="'view/' + data.id">
          <td>
          <div class="flex flex-row items-center">
            <img *ngIf="data.media != null" [src]="serverUrl + data.media.address" width="32" height="32">
            <span class="ml-2">{{ data.title }} ({{ data.type }})</span>
          </div>
        </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>