<nz-page-header
  [nzGhost]="false"
  nzBackIcon
  [nzTitle]="'reviewParameters.title' | translate"
  [nzSubtitle]="'reviewParameters.subtitle' | translate">
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="new"><i nz-icon nzType="plus"></i>{{ 'profile.add' | translate }}</button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" *ngIf="(query | async)?.data?.feedbackParameters as regions" [nzData]="regions" [nzTotal]="regions.length" nzBordered>
      <thead>
        <tr>
          <th>{{ 'profile.name' | translate }}</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data" [routerLink]="'view/' + data.id" class="group cursor-pointer">
          <td>{{ data.title }}</td>
          <td>
            <nz-tag [nzColor]="tagColor.boolean(data.isGood)">{{ data.isGood ? "Good" : "Bad" }}</nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>
