<nz-page-header [nzGhost]="false" nzBackIcon nzTitle="Service option definition" nzSubtitle="Options that can be enabled on specific services.">
</nz-page-header>
<nz-card [nzActions]="[tmplActions]" style="mt-16">
  <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="id" type="hidden" hidden>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">Name</nz-form-label>
      <nz-form-control nzErrorTip="The input is not valid name">
        <input nz-input formControlName="name" id="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="type" nzRequired>Type</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="type" id="type">
          <nz-option *ngFor="let type of types" [nzLabel]="type" [nzValue]="type">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="icon" nzRequired>Icon</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="icon" id="icon">
          <nz-option *ngFor="let icon of icons" [nzLabel]="icon" [nzValue]="icon">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="form.value.type == type.Paid">
      <nz-form-label nzRequired nzFor="additionalFee">Additional fee</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="additionalFee" id="additionalFee" />
      </nz-form-control>
    </nz-form-item>
    <ng-template #tmplActions>
      <button nz-button nzType="primary" [disabled]="form.invalid" (click)="onSubmit()">Save</button>
    </ng-template>
  </form>
</nz-card>