<nz-page-header [nzGhost]="false" nzBackIcon nzTitle="Operators"
  nzSubtitle="Users of Admin panel (Operators and admins)">
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="new"><i nz-icon nzType="plus"></i>{{ 'profile.add' | translate
      }}</button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" *ngIf="(query | async)?.data?.operators as operators"
      [nzData]="operators.nodes" [nzTotal]="operators.totalCount"
      (nzQueryParams)="tableService.onTableQueryParamsChange($event)" nzBordered>
      <thead>
        <tr>
          <th>{{ 'profile.name' | translate }}</th>
          <th>{{ 'profile.userName' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data" [routerLink]="'view/' + data.id" class="group cursor-pointer">
          <td>
            <div class="flex items-center ml-2">
              <div>
                <div class="text-sm text-neutral-700 group-hover:text-neutral-900">
                  {{ data.firstName }} {{ data.lastName }}
                </div>
                <div class="text-sm text-neutral-400 group-hover:text-neutral-700">
                  {{ data.role?.title ?? ('users.noRole' | translate) }}
                </div>
              </div>
            </div>
          </td>
          <td>{{ data.userName }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>